In [1]:
import pandas as pd
import numpy as np

In [2]:
from LagsCreator import LagsCreator

In [19]:
data = np.array([["a1", "a2", "a3", "a4", "a5", "a6", "a7", "a8", "a9", "a10", "a11", "a12", "a13", "a14", "a15", "a16", "a17", "a18", "a19", "a20"], 
                 ["b1", "b2", "b3", "b4", "b5", "b6", "b7", "b8", "b9", "b10", "b11", "b12", "b13", "b14", "b15", "b16", "b17", "b18", "b19", "b20"], 
                 ["c1", "c2", "c3", "c4", "c5", "c6", "c7", "c8", "c9", "c10", "c11", "c12", "c13", "c14", "c15", "c16", "c17", "c18", "c19", "c20"]])

In [20]:
df = pd.DataFrame(np.transpose(data), index = pd.date_range("2018-08-22", periods = 20), columns = pd.MultiIndex.from_product([["Group 1"], ["A", "B", "C"]], names = ["Group", "Time-series"]))

In [21]:
df

Group       Group 1
Time-series       A    B    C
2018-08-22       a1   b1   c1
2018-08-23       a2   b2   c2
2018-08-24       a3   b3   c3
2018-08-25       a4   b4   c4
2018-08-26       a5   b5   c5
2018-08-27       a6   b6   c6
2018-08-28       a7   b7   c7
2018-08-29       a8   b8   c8
2018-08-30       a9   b9   c9
2018-08-31      a10  b10  c10
2018-09-01      a11  b11  c11
2018-09-02      a12  b12  c12
2018-09-03      a13  b13  c13
2018-09-04      a14  b14  c14
2018-09-05      a15  b15  c15
2018-09-06      a16  b16  c16
2018-09-07      a17  b17  c17
2018-09-08      a18  b18  c18
2018-09-09      a19  b19  c19
2018-09-10      a20  b20  c20

In [22]:
lags_dict = dict()
# Define lags for each indicator.
lags_dict["A"] = 3
lags_dict["B"] = 5
lags_dict["C"] = 2

In [23]:
lags_dict

{'A': 3, 'B': 5, 'C': 2}

In [24]:
X, y, X_val, y_val, X_test = LagsCreator(df, lags_dict, "A", 4, single_step = False, h = 1, return_dataframe = True, 
                           feature_time = True, validation = False)

ValueError: You can use the 'feature_time' only if you are working in the 'single_step' and 'return_dataframe' modes.

In [9]:
X

Features      A                  B                                C       \
Lags     x(t-2) x(t-1) x(t) x(t-4) x(t-3) x(t-2) x(t-1) x(t) x(t-1) x(t)
0            a3     a4   a5     b1     b2     b3     b4   b5     c4   c5
1            a4     a5   a6     b2     b3     b4     b5   b6     c5   c6
2            a5     a6   a7     b3     b4     b5     b6   b7     c6   c7
3            a6     a7   a8     b4     b5     b6     b7   b8     c7   c8
4            a7     a8   a9     b5     b6     b7     b8   b9     c8   c9
5            a8     a9  a10     b6     b7     b8     b9  b10     c9  c10
6            a9    a10  a11     b7     b8     b9    b10  b11    c10  c11
7           a10    a11  a12     b8     b9    b10    b11  b12    c11  c12
8           a11    a12  a13     b9    b10    b11    b12  b13    c12  c13
9           a12    a13  a14    b10    b11    b12    b13  b14    c13  c14
10          a13    a14  a15    b11    b12    b13    b14  b15    c14  c15
11          a14    a15  a16    b12    b13    b14    b15  b16    c15  c16
12          a15    a16  a17    b13    b14    b15    b16  b17    c16  c17
13          a16    a17  a18    b14    b15    b16    b17  b18    c17  c18
14          a17    a18  a19    b15    b16    b17    b18  b19    c18  c19

Features   Day Month    Year
Lags         x     x       x
0         27.0   8.0  2018.0
1         28.0   8.0  2018.0
2         29.0   8.0  2018.0
3         30.0   8.0  2018.0
4         31.0   8.0  2018.0
5          1.0   9.0  2018.0
6          2.0   9.0  2018.0
7          3.0   9.0  2018.0
8          4.0   9.0  2018.0
9          5.0   9.0  2018.0
10         6.0   9.0  2018.0
11         7.0   9.0  2018.0
12         NaN   NaN     NaN
13         NaN   NaN     NaN
14         NaN   NaN     NaN

In [10]:
X.shape

(15, 13)

In [11]:
y

Features                A
Prediction horizon x(t+1)
0                      a6
1                      a7
2                      a8
3                      a9
4                     a10
5                     a11
6                     a12
7                     a13
8                     a14
9                     a15
10                    a16
11                    a17
12                    a18
13                    a19
14                    a20

In [12]:
y.shape

(15, 1)

In [13]:
X_test

Features      A                  B                                C      Day  \
Lags     x(t-2) x(t-1) x(t) x(t-4) x(t-3) x(t-2) x(t-1) x(t) x(t-1) x(t)   x
15          a18    a19  a20    b16    b17    b18    b19  b20    c19  c20 NaN

Features Month Year
Lags         x    x
15         NaN  NaN

In [14]:
X_test.shape

(1, 13)

In [15]:
X_val

In [16]:
X_val.shape

AttributeError: 'NoneType' object has no attribute 'shape'

In [17]:
y_val

In [18]:
y_val.shape

AttributeError: 'NoneType' object has no attribute 'shape'