In [7]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
from LagsCreator import LagsCreator

In [9]:
data = np.array([["a1", "a2", "a3", "a4", "a5", "a6", "a7", "a8", "a9", "a10", "a11", "a12", "a13", "a14", "a15", "a16", "a17", "a18", "a19", "a20"], 
                 ["b1", "b2", "b3", "b4", "b5", "b6", "b7", "b8", "b9", "b10", "b11", "b12", "b13", "b14", "b15", "b16", "b17", "b18", "b19", "b20"], 
                 ["c1", "c2", "c3", "c4", "c5", "c6", "c7", "c8", "c9", "c10", "c11", "c12", "c13", "c14", "c15", "c16", "c17", "c18", "c19", "c20"]])

In [10]:
# Numeric example dataframe.
#data = np.random.rand(data.shape[0], data.shape[1])

In [11]:
df = pd.DataFrame(np.transpose(data), index = pd.date_range("2018-08-22", periods = 20), columns = pd.MultiIndex.from_product([["Group 1"], ["A", "B", "C"]], names = ["Group", "Time-series"]))

In [12]:
df

Group       Group 1
Time-series       A    B    C
2018-08-22       a1   b1   c1
2018-08-23       a2   b2   c2
2018-08-24       a3   b3   c3
2018-08-25       a4   b4   c4
2018-08-26       a5   b5   c5
2018-08-27       a6   b6   c6
2018-08-28       a7   b7   c7
2018-08-29       a8   b8   c8
2018-08-30       a9   b9   c9
2018-08-31      a10  b10  c10
2018-09-01      a11  b11  c11
2018-09-02      a12  b12  c12
2018-09-03      a13  b13  c13
2018-09-04      a14  b14  c14
2018-09-05      a15  b15  c15
2018-09-06      a16  b16  c16
2018-09-07      a17  b17  c17
2018-09-08      a18  b18  c18
2018-09-09      a19  b19  c19
2018-09-10      a20  b20  c20

In [13]:
lags_dict = dict()
# Define lags for each indicator.
lags_dict["A"] = 3
lags_dict["C"] = 5
lags_dict["B"] = 2

In [14]:
import time

In [29]:
creator = LagsCreator(df, lags_dict, "A", n_out = 4, return_dataframe = True, row_output = True, feature_time = False, single_step = False)

In [30]:
X_train, y_train, X_val, y_val, X_test = creator.to_supervised(validation = False)

In [31]:
df

Group       Group 1
Time-series       A    B    C
2018-08-22       a1   b1   c1
2018-08-23       a2   b2   c2
2018-08-24       a3   b3   c3
2018-08-25       a4   b4   c4
2018-08-26       a5   b5   c5
2018-08-27       a6   b6   c6
2018-08-28       a7   b7   c7
2018-08-29       a8   b8   c8
2018-08-30       a9   b9   c9
2018-08-31      a10  b10  c10
2018-09-01      a11  b11  c11
2018-09-02      a12  b12  c12
2018-09-03      a13  b13  c13
2018-09-04      a14  b14  c14
2018-09-05      a15  b15  c15
2018-09-06      a16  b16  c16
2018-09-07      a17  b17  c17
2018-09-08      a18  b18  c18
2018-09-09      a19  b19  c19
2018-09-10      a20  b20  c20

In [32]:
X_train

Features|Lags A(t-2) A(t-1) A(t) B(t-1) B(t) C(t-4) C(t-3) C(t-2) C(t-1) C(t)
0                 a3     a4   a5     b4   b5     c1     c2     c3     c4   c5
1                 a4     a5   a6     b5   b6     c2     c3     c4     c5   c6
2                 a5     a6   a7     b6   b7     c3     c4     c5     c6   c7
3                 a6     a7   a8     b7   b8     c4     c5     c6     c7   c8
4                 a7     a8   a9     b8   b9     c5     c6     c7     c8   c9
5                 a8     a9  a10     b9  b10     c6     c7     c8     c9  c10
6                 a9    a10  a11    b10  b11     c7     c8     c9    c10  c11
7                a10    a11  a12    b11  b12     c8     c9    c10    c11  c12
8                a11    a12  a13    b12  b13     c9    c10    c11    c12  c13
9                a12    a13  a14    b13  b14    c10    c11    c12    c13  c14
10               a13    a14  a15    b14  b15    c11    c12    c13    c14  c15
11               a14    a15  a16    b15  b16    c12    c13    c14    c15  c16

In [33]:
y_train

Target|Prediction horizon x(t+1) x(t+2) x(t+3) x(t+4)
0                             a6     a7     a8     a9
1                             a7     a8     a9    a10
2                             a8     a9    a10    a11
3                             a9    a10    a11    a12
4                            a10    a11    a12    a13
5                            a11    a12    a13    a14
6                            a12    a13    a14    a15
7                            a13    a14    a15    a16
8                            a14    a15    a16    a17
9                            a15    a16    a17    a18
10                           a16    a17    a18    a19
11                           a17    a18    a19    a20

In [41]:
train, val, test = creator.visualization(boundaries = False)

In [42]:
train[5]

In [43]:
val[0]

TypeError: 'NoneType' object is not subscriptable