In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 4

In [3]:
# Add the python path to the folder containing some custom packages.
import sys
sys.path.insert(0, "../packages/")
from TsIP.TsIP import TsIP

# Burkina Faso

I create the dataset of multivariate time-series for the Burkina Faso country.

In [4]:
COUNTRY = "Burkina Faso"

In [5]:
PATH_TO_SAVE = "./output_data/Burkina Faso/"

## Data sources

For more details regarding each single data source see the folder *Data Sources*.

In [6]:
PATH_TO_DATA_FOLDER = "../Data Sources/"

    - Food Consumption Score (FCG <= 2):

In [7]:
# Load the data of the fcs indicator released by wfp.
fcs = pd.read_csv(PATH_TO_DATA_FOLDER + "2. Food Consumption Score (FCS)/output_timeseries/%s/wfp_fcs-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
fcs.index.name = "Datetime"
fcs.index = pd.to_datetime(fcs.index)
freq = "D"
fcs.index.freq = freq

In [8]:
fcs

AdminStrata,Boucle-Du-Mouhoun,Cascades,Centre,Centre-Est,Centre-Nord,Centre-Ouest,Centre-Sud,Est,Hauts-Bassins,Nord,Plateau-Central,Sahel,Sud-Ouest
Indicator,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG
Datetime,,,,,,,,,,,,,
2019-09-08,30.9217,22.7324,22.0938,44.1861,61.9488,37.8526,45.0209,51.9179,15.6957,44.6056,44.7766,36.4286,36.2381
2019-09-09,31.1039,23.8346,21.5678,43.9068,62.2596,37.5657,44.0722,53.0548,17.3667,44.7804,44.8415,36.7095,35.8286
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-12,54.4974,43.3047,48.3124,54.6916,63.2625,50.1239,63.5259,72.3492,37.1896,61.8890,62.3979,57.8512,37.9172
2021-02-13,53.0252,43.3047,49.3781,54.2772,62.9515,49.4080,63.5259,72.7581,37.2221,61.6207,61.8736,57.0913,38.0301

    - Reduced Coping Strategy Index (rCSI >= 19):

In [9]:
# Load the the data of the rcsi indicator released by wfp.
rcsi = pd.read_csv(PATH_TO_DATA_FOLDER + "3. Reduced Coping Strategy Index (rCSI)/output_timeseries/%s/wfp_rcsi-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
rcsi.index.name = "Datetime"
rcsi.index = pd.to_datetime(rcsi.index)
freq = "D"
rcsi.index.freq = freq

In [10]:
rcsi

AdminStrata,Boucle-Du-Mouhoun,Cascades,Centre,Centre-Est,Centre-Nord,Centre-Ouest,Centre-Sud,Est,Hauts-Bassins,Nord,Plateau-Central,Sahel,Sud-Ouest
Indicator,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI
Datetime,,,,,,,,,,,,,
2019-09-08,19.4995,8.43056,7.58997,20.0511,18.7576,14.9000,12.3849,21.2013,9.36447,22.7117,14.9150,23.6735,17.76190
2019-09-09,19.5674,8.42105,7.06789,20.2715,18.8215,14.7165,12.7148,21.8444,9.93393,22.6400,14.7296,23.8560,17.56120
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-12,20.4721,7.00246,14.47370,15.8505,35.8422,11.8910,27.8398,29.7115,16.41830,25.7091,17.3614,28.5714,8.94526
2021-02-13,19.6639,7.00246,14.63700,15.8386,36.1456,11.6254,27.8398,29.8794,15.83920,25.8831,17.6035,29.0865,9.16553

    - Rainfalls:

In [11]:
# Load the data of rainfall indicator released by wfp.
rainfall = pd.read_csv(PATH_TO_DATA_FOLDER + "4. Rainfall & Vegetation/output_timeseries/%s/wfp_rainfall-dekad.csv" % COUNTRY, header = [0, 1], index_col = 0)
rainfall.index.name = "Datetime"
rainfall.index = pd.to_datetime(rainfall.index)
freq = "D"
rainfall.index.freq = freq

In [12]:
rainfall

AdminStrata             Boucle-Du-Mouhoun                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                          100.0                      46.675774
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2021-02-09                            NaN                            NaN
2021-02-10                          100.0                     100.129909

AdminStrata                                     Cascades  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-01-10             0.0                    105.088605
2018-01-11             NaN                           NaN
...                    ...                           ...
2021-02-09             NaN                           NaN
2021-02-10             0.0                    101.997454

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-01-10                       45.040303          0.027
2018-01-11                             NaN            NaN
...                                    ...            ...
2021-02-09                             NaN            NaN
2021-02-10                       96.708767          0.353

AdminStrata                        Centre                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                          100.0                       76.26391
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2021-02-09                            NaN                            NaN
2021-02-10                          100.0                      100.00000

AdminStrata                                   Centre-Est  ...           Nord  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)  ... Rainfalls (mm)
Datetime                                                  ...
2018-01-10             0.0                    101.619352  ...            0.0
2018-01-11             NaN                           NaN  ...            NaN
...                    ...                           ...  ...            ...
2021-02-09             NaN                           NaN  ...            NaN
2021-02-10             0.0                    100.069944  ...            0.0

AdminStrata               Plateau-Central                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                          100.0                      88.636035
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2021-02-09                            NaN                            NaN
2021-02-10                          100.0                     100.000000

AdminStrata                                        Sahel  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-01-10             0.0                         100.0
2018-01-11             NaN                           NaN
...                    ...                           ...
2021-02-09             NaN                           NaN
2021-02-10             0.0                         100.0

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-01-10                       91.652072            0.0
2018-01-11                             NaN            NaN
...                                    ...            ...
2021-02-09                             NaN            NaN
2021-02-10                      100.000000            0.0

AdminStrata                     Sud-Ouest                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                     102.196047                      44.439084
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2021-02-09                            NaN                            NaN
2021-02-10                     102.215819                      96.421501

AdminStrata
Indicator   Rainfalls (mm)
Datetime
2018-01-10           0.000
2018-01-11             NaN
...                    ...
2021-02-09             NaN
2021-02-10           0.285

[1128 rows x 39 columns]

    - Vegetations:

In [13]:
# Load the data of vegetation indicator released by wfp.
NDVI = pd.read_csv(PATH_TO_DATA_FOLDER + "4. Rainfall & Vegetation/output_timeseries/%s/wfp_NDVI-dekad.csv" % COUNTRY, header = [0, 1], index_col = 0)
NDVI.index.name = "Datetime"
NDVI.index = pd.to_datetime(NDVI.index)
freq = "D"
NDVI.index.freq = freq

In [14]:
NDVI

AdminStrata Boucle-Du-Mouhoun               Cascades                 Centre  \
Indicator                NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2018-01-10           0.290780   103.552798  0.379815   102.985594  0.243653
2018-01-11                NaN          NaN       NaN          NaN       NaN
...                       ...          ...       ...          ...       ...
2021-02-09                NaN          NaN       NaN          NaN       NaN
2021-02-10           0.275201   107.917976  0.351473   108.875567  0.232017

AdminStrata              Centre-Est              Centre-Nord               \
Indicator   NDVI Anomaly       NDVI NDVI Anomaly        NDVI NDVI Anomaly
Datetime
2018-01-10    101.278044   0.257957    98.812593    0.212629    99.245613
2018-01-11           NaN        NaN          NaN         NaN          NaN
...                  ...        ...          ...         ...          ...
2021-02-09           NaN        NaN          NaN         NaN          NaN
2021-02-10    104.490789   0.249937   104.239580    0.217989   106.983658

AdminStrata  ... Hauts-Bassins                   Nord               \
Indicator    ...          NDVI NDVI Anomaly      NDVI NDVI Anomaly
Datetime     ...
2018-01-10   ...      0.342716   103.134343  0.231497   102.517853
2018-01-11   ...           NaN          NaN       NaN          NaN
...          ...           ...          ...       ...          ...
2021-02-09   ...           NaN          NaN       NaN          NaN
2021-02-10   ...      0.316362   108.925962  0.227053   107.229348

AdminStrata Plateau-Central                  Sahel              Sud-Ouest  \
Indicator              NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2018-01-10         0.245389   101.328641  0.174531     98.82333  0.325687
2018-01-11              NaN          NaN       NaN          NaN       NaN
...                     ...          ...       ...          ...       ...
2021-02-09              NaN          NaN       NaN          NaN       NaN
2021-02-10         0.236414   105.290481  0.183145    106.03192  0.311696

AdminStrata
Indicator   NDVI Anomaly
Datetime
2018-01-10    102.354952
2018-01-11           NaN
...                  ...
2021-02-09           NaN
2021-02-10    108.160323

[1128 rows x 26 columns]

    - Conflicts:

In [15]:
# Load the data of conflicts indicator released by ACLED.
conflict = pd.read_csv(PATH_TO_DATA_FOLDER + "6. Conflicts/output_timeseries/%s/wfp_conflicts_sum_event_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
conflict.index.name = "Datetime"
conflict.index = pd.to_datetime(conflict.index)
freq = "D"
conflict.index.freq = freq

In [16]:
conflict

AdminStrata,Boucle-Du-Mouhoun,Cascades,Centre,Centre-Est,Centre-Nord,Centre-Ouest,Centre-Sud,Est,Hauts-Bassins,Nord,Plateau-Central,Sahel,Sud-Ouest
Indicator,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities
Datetime,,,,,,,,,,,,,
2019-09-08,4.0,1.0,12.0,0.5,96.0,1.0,2.0,24.0,1.0,45.0,0.0,109.0,0.0
2019-09-09,4.0,1.0,1.0,0.5,99.0,1.0,2.0,7.0,1.0,45.0,0.0,112.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-11,0.0,4.0,0.0,0.0,8.0,0.0,5.0,4.0,0.0,19.0,0.0,108.0,9.0
2021-02-12,0.0,4.0,0.0,0.0,8.0,0.0,5.0,4.0,0.0,19.0,0.0,107.0,9.0

    - Ramadan:

In [17]:
# Load the data of Ramadan.
ramadan = pd.read_csv(PATH_TO_DATA_FOLDER + "8. Ramadan/output_timeseries/%s/wfp_ramadan_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
ramadan.index.name = "Datetime"
ramadan.index = pd.to_datetime(ramadan.index)
freq = "D"
ramadan.index.freq = freq

In [18]:
ramadan

AdminStrata,Boucle-Du-Mouhoun,Cascades,Centre,Centre-Est,Centre-Nord,Centre-Ouest,Centre-Sud,Est,Hauts-Bassins,Nord,Plateau-Central,Sahel,Sud-Ouest
Indicator,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan
Datetime,,,,,,,,,,,,,
2019-09-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-09-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-02-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    - Adminstrata Codes:

In [19]:
# Load the data of administrative codes.
admin_code = pd.read_csv(PATH_TO_DATA_FOLDER + "7. Adminstrata Code/output_timeseries/%s/wfp_adminstrata_code.csv" % COUNTRY, header = [0, 1], index_col = 0)
admin_code.index.name = "Datetime"
admin_code.index = pd.to_datetime(admin_code.index)
freq = "D"
admin_code.index.freq = freq

In [20]:
admin_code

AdminStrata,Boucle-Du-Mouhoun,Cascades,Centre,Centre-Est,Centre-Nord,Centre-Ouest,Centre-Sud,Est,Hauts-Bassins,Nord,Plateau-Central,Sahel,Sud-Ouest
Indicator,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code
Datetime,,,,,,,,,,,,,
2018-01-01,0,1,2,3,4,5,6,7,8,9,10,11,12
2018-01-02,0,1,2,3,4,5,6,7,8,9,10,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,0,1,2,3,4,5,6,7,8,9,10,11,12
2022-01-01,0,1,2,3,4,5,6,7,8,9,10,11,12

    - Population

In [21]:
# Load the data of population released by wfp.
population = pd.read_csv(PATH_TO_DATA_FOLDER + "10. Population/output_timeseries/%s/wfp_population.csv" % COUNTRY, header = [0, 1], index_col = 0)
population.index.name = "Datetime"
population.index = pd.to_datetime(population.index)
freq = "D"
population.index.freq = freq

In [22]:
population

AdminStrata,Boucle-Du-Mouhoun,Cascades,Centre,Centre-Est,Centre-Nord,Centre-Ouest,Centre-Sud,Est,Hauts-Bassins,Nord,Plateau-Central,Sahel,Sud-Ouest
Indicator,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population
Datetime,,,,,,,,,,,,,
2018-01-01,1816310,755896,2623394,2623394,1551284,1510412,801374,1633891,1983881,1500082,872851,1282223,796535
2018-01-02,1816310,755896,2623394,2623394,1551284,1510412,801374,1633891,1983881,1500082,872851,1282223,796535
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,1816310,755896,2623394,2623394,1551284,1510412,801374,1633891,1983881,1500082,872851,1282223,796535
2022-01-01,1816310,755896,2623394,2623394,1551284,1510412,801374,1633891,1983881,1500082,872851,1282223,796535

    - Market Prices

In [23]:
# Load the data of market prices indicator released by wfp.
price = pd.read_csv(PATH_TO_DATA_FOLDER + "5. Market Prices/output_timeseries/%s/wfp_relevant_market_price-interpolate-common-food_group-month.csv" % COUNTRY, header = [0, 1], index_col = 0)
price.index.name = "Datetime"
price.index = pd.to_datetime(price.index)
freq = "D"
price.index.freq = freq

In [24]:
price

AdminStrata Boucle-Du-Mouhoun                               Cascades  \
Food Group      Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-01-31                NaN                 0.406352           NaN
2018-02-01                NaN                      NaN           NaN
...                       ...                      ...           ...
2021-02-27                NaN                      NaN           NaN
2021-02-28           0.108437                      NaN      0.108437

AdminStrata                                 Centre                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-01-31                  0.520853           NaN                 0.731224
2018-02-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2021-02-27                       NaN           NaN                      NaN
2021-02-28                       NaN      0.108437                      NaN

AdminStrata    Centre-Est                            Centre-Nord  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-01-31            NaN                 0.467472           NaN
2018-02-01            NaN                      NaN           NaN
...                   ...                      ...           ...
2021-02-27            NaN                      NaN           NaN
2021-02-28       0.108437                      NaN      0.108437

AdminStrata                           ... Hauts-Bassins  \
Food Group  Price cereals and tubers  ... Exchange rate
Datetime                              ...
2018-01-31                  0.654094  ...           NaN
2018-02-01                       NaN  ...           NaN
...                              ...  ...           ...
2021-02-27                       NaN  ...           NaN
2021-02-28                       NaN  ...      0.108437

AdminStrata                                   Nord                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-01-31                   0.40005           NaN                 0.575506
2018-02-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2021-02-27                       NaN           NaN                      NaN
2021-02-28                       NaN      0.108437                      NaN

AdminStrata Plateau-Central                                  Sahel  \
Food Group    Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-01-31              NaN                 0.572321           NaN
2018-02-01              NaN                      NaN           NaN
...                     ...                      ...           ...
2021-02-27              NaN                      NaN           NaN
2021-02-28         0.108437                      NaN      0.108437

AdminStrata                              Sud-Ouest
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-01-31                  0.738607           NaN                  0.56334
2018-02-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2021-02-27                       NaN           NaN                      NaN
2021-02-28                       NaN      0.108437                      NaN

[1125 rows x 26 columns]

    - Coordinates:

In [25]:
# Load the data of coordination.
coordinates = pd.read_csv(PATH_TO_DATA_FOLDER + "9. Coordinates/output_timeseries/%s/wfp_coordinates.csv" % COUNTRY, header = [0, 1], index_col = 0)
coordinates.index.name = "Datetime"
coordinates.index = pd.to_datetime(coordinates.index)
freq = "D"
coordinates.index.freq = freq

In [26]:
coordinates

AdminStrata Boucle-Du-Mouhoun             Cascades               Centre  \
Indicator                 Lat       Lon        Lat       Lon        Lat
Datetime
2018-01-01          12.535927 -3.488905  10.354484 -4.570349  12.325874
2018-01-02          12.535927 -3.488905  10.354484 -4.570349  12.325874
...                       ...       ...        ...       ...        ...
2021-12-31          12.535927 -3.488905  10.354484 -4.570349  12.325874
2022-01-01          12.535927 -3.488905  10.354484 -4.570349  12.325874

AdminStrata           Centre-Est           Centre-Nord            ...  \
Indicator         Lon        Lat       Lon         Lat       Lon  ...
Datetime                                                          ...
2018-01-01  -1.499961  11.607598 -0.186052   13.271074 -0.973623  ...
2018-01-02  -1.499961  11.607598 -0.186052   13.271074 -0.973623  ...
...               ...        ...       ...         ...       ...  ...
2021-12-31  -1.499961  11.607598 -0.186052   13.271074 -0.973623  ...
2022-01-01  -1.499961  11.607598 -0.186052   13.271074 -0.973623  ...

AdminStrata Hauts-Bassins                Nord           Plateau-Central  \
Indicator             Lat      Lon        Lat       Lon             Lat
Datetime
2018-01-01      11.365156 -4.33117  13.459991 -2.283149       12.444787
2018-01-02      11.365156 -4.33117  13.459991 -2.283149       12.444787
...                   ...      ...        ...       ...             ...
2021-12-31      11.365156 -4.33117  13.459991 -2.283149       12.444787
2022-01-01      11.365156 -4.33117  13.459991 -2.283149       12.444787

AdminStrata                Sahel            Sud-Ouest
Indicator         Lon        Lat       Lon        Lat       Lon
Datetime
2018-01-01  -1.132524  14.147637 -0.450041  10.475215 -3.237191
2018-01-02  -1.132524  14.147637 -0.450041  10.475215 -3.237191
...               ...        ...       ...        ...       ...
2021-12-31  -1.132524  14.147637 -0.450041  10.475215 -3.237191
2022-01-01  -1.132524  14.147637 -0.450041  10.475215 -3.237191

[1462 rows x 26 columns]

In [27]:
# Create the full dataset.
df = pd.concat([fcs, rcsi, rainfall, conflict, NDVI, admin_code, population, ramadan, price, coordinates], axis = 1, levels = 0).sort_index(axis = 1, level = [0, 1])

In [28]:
PROVINCES = df.columns.get_level_values(0).unique()
PROVINCES

Index(['Boucle-Du-Mouhoun', 'Cascades', 'Centre', 'Centre-Est', 'Centre-Nord',
       'Centre-Ouest', 'Centre-Sud', 'Est', 'Hauts-Bassins', 'Nord',
       'Plateau-Central', 'Sahel', 'Sud-Ouest'],
      dtype='object', name='AdminStrata')

In [29]:
PREDICTORS = df.columns.get_level_values(1).unique()
PREDICTORS

Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')

In [30]:
for PROVINCE in PROVINCES:
    print(PROVINCE)
    print(df[PROVINCE].columns)

Boucle-Du-Mouhoun
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Cascades
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Centre
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Centre-Est
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Centre-Nord
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Centre-Ouest
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Centre-Sud
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Est
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Hauts-Bassins
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Nord
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Plateau-Central
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Sahel
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Sud-Ouest
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')

In [31]:
# Plot time-series.
TsIP(df).interactive_plot_df(title = "Time-series", matplotlib = False, style = "mix", comparison = False, first_last_valid_index_group = True)

interactive(children=(ToggleButtons(description='AdminStrata', options=('Boucle-Du-Mouhoun', 'Cascades', 'Centâ€¦

In [32]:
# Save the datasets.
df.to_csv(PATH_TO_SAVE + "Burkina Faso.csv", index_label = False)