In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 4

In [3]:
# Add the python path to the folder containing some useful custom packages.
import sys
sys.path.insert(0, "../packages/")
from TsIP.TsIP import TsIP

# Yemen

We create the dataset of multivariate time-series for the Yemen country.

In [4]:
PATH_TO_SAVE = "./data/Yemen/"

## Data sources

For more details regarding each single data source see the folder *Data Sources*.

In [5]:
PATH_TO_DATA_FOLDER = "../Data Sources/"

    - Food Consumption Score:

In [6]:
# Load the data of the fcs indicator released by wfp.
fcs = pd.read_csv(PATH_TO_DATA_FOLDER + "Food Consumption Score (FCS)/output_timeseries/Yemen/wfp_fcs-interpolate.csv", header = [0, 1], index_col = 0)
fcs.index.name = "Datetime"
fcs.index = pd.to_datetime(fcs.index)
freq = "D"
fcs.index.freq = freq

In [7]:
fcs

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,...,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-02,31.158690,16.619519,38.332669,29.194825,20.788151,22.085706,2.892308,16.815145,17.000398,20.446735,...,28.361345,25.036668,31.762436,32.596233,54.121774,17.676022,26.917713,16.752289,23.822825,26.563365
2018-07-03,32.675222,16.370603,43.292084,31.336940,20.692544,23.477196,2.913825,19.833443,17.208166,21.689014,...,28.805448,27.102390,32.049499,33.333333,56.722689,17.134560,25.783476,18.257453,23.699881,29.124005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,44.793680,23.679900,61.207510,57.180580,35.707570,55.572770,25.161750,34.107460,33.429950,40.789020,...,44.682020,47.391200,52.942300,40.644170,56.804830,45.614440,43.299690,52.033580,42.279630,37.762790
2020-09-04,44.438290,23.266640,61.403330,57.713640,36.948410,56.348300,24.012730,35.517680,33.611110,43.806190,...,44.594000,48.455710,52.975850,41.660730,55.201040,45.801170,42.842260,52.052990,43.587310,38.883720

    - Reduced Coping Strategy Index

In [8]:
# Load the the data of the rcsi indicator released by wfp.
rcsi = pd.read_csv(PATH_TO_DATA_FOLDER + "Reduced Coping Strategy Index (rCSI)/output_timeseries/Yemen/wfp_rcsi-interpolate.csv", header = [0, 1], index_col = 0)
rcsi.index.name = "Datetime"
rcsi.index = pd.to_datetime(rcsi.index)
freq = "D"
rcsi.index.freq = freq

In [9]:
rcsi

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,...,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-08-22,37.421880,35.628421,39.101832,43.976194,52.097359,61.911549,16.898433,61.867752,52.923223,51.085993,...,66.698570,60.797456,44.782684,60.490004,56.301100,46.435518,52.667849,34.302200,38.303104,50.919038
2018-08-23,37.346207,30.467806,38.444610,44.524081,53.395195,67.312845,16.219712,61.391407,54.706540,47.318314,...,61.331133,61.011650,44.038726,59.568557,57.324106,45.261947,50.214606,36.742499,39.545071,50.415852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,39.012960,40.415880,58.985290,49.297500,57.874460,61.429600,43.177570,49.745770,57.763980,52.820390,...,58.486840,55.698490,32.479940,53.338840,50.089750,55.270820,61.457250,44.477160,41.310850,52.016400
2020-09-04,39.850460,41.487350,58.990410,49.826080,57.662490,62.149780,42.571970,48.484000,57.708330,52.037360,...,57.386740,55.954810,33.466440,52.637210,49.479080,54.210530,62.828380,43.348300,41.412100,51.242520

    - Rainfall:

In [10]:
# Load the data of rainfall indicator released by wfp.
rainfall = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/Yemen/wfp_rainfall-day.csv", header = [0, 1], index_col = 0)
rainfall.index.name = "Datetime"
rainfall.index = pd.to_datetime(rainfall.index)
freq = "D"
rainfall.index.freq = freq

In [11]:
rainfall

AdminStrata                        Abyan                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2018-02-09                    110.821320                    117.765775
2018-02-10                    110.785405                    117.890744
...                                  ...                           ...
2020-08-30                    164.878114                    202.260449
2020-08-31                    162.025191                    200.286329

AdminStrata                                       Aden  \
Indicator   Rainfall (mm) 1 Month Anomaly (%) Rainfall
Datetime
2018-02-09         2.8378                   101.530967
2018-02-10         2.9094                   101.754128
...                   ...                          ...
2020-08-30        21.7841                   151.191946
2020-08-31        20.4773                   149.196396

AdminStrata                                              \
Indicator   3 Months Anomaly (%) Rainfall Rainfall (mm)
Datetime
2018-02-09                     101.139362        0.9882
2018-02-10                     101.320834        1.0882
...                                   ...           ...
2020-08-30                     201.484237        3.6632
2020-08-31                     200.592337        3.2132

AdminStrata                     Al Bayda                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2018-02-09                    116.922609                    127.593138
2018-02-10                    116.667273                    127.571071
...                                  ...                           ...
2020-08-30                    190.403228                    210.067670
2020-08-31                    185.406157                    207.330097

AdminStrata                                 Al Dhale'e  ...        Sana'a  \
Indicator   Rainfall (mm) 1 Month Anomaly (%) Rainfall  ... Rainfall (mm)
Datetime                                                ...
2018-02-09         3.7722                   113.205188  ...        4.0626
2018-02-10         3.8827                   113.399159  ...        4.2004
...                   ...                          ...  ...           ...
2020-08-30        48.3459                   182.606006  ...       82.7615
2020-08-31        44.7315                   178.146521  ...       76.5102

AdminStrata                      Shabwah                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2018-02-09                    105.338660                    109.340176
2018-02-10                    105.422723                    109.450232
...                                  ...                           ...
2020-08-30                    172.211578                    204.146843
2020-08-31                    167.623426                    201.443024

AdminStrata                                    Socotra  \
Indicator   Rainfall (mm) 1 Month Anomaly (%) Rainfall
Datetime
2018-02-09         4.9204                    95.488162
2018-02-10         4.9118                    96.070283
...                   ...                          ...
2020-08-30        21.2417                   100.065683
2020-08-31        19.5795                   100.073400

AdminStrata                                              \
Indicator   3 Months Anomaly (%) Rainfall Rainfall (mm)
Datetime
2018-02-09                      77.877123        0.1862
2018-02-10                      77.689084        0.0640
...                                   ...           ...
2020-08-30                     100.251785        0.0560
2020-08-31                     100.211385        0.0608

AdminStrata                        Taizz                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2018-02-09                    112.809115                    108.361869
2018-02-10                    112.914792                    108.847622
...                                  ...                           ...
2020-08-30                    158.571504                    163.254345
2020-08-31                    155.333204                    162.636261

AdminStrata
Indicator   Rainfall (mm)
Datetime
2018-02-09         4.1708
2018-02-10         4.3214
...                   ...
2020-08-30        45.9189
2020-08-31        43.7862

[935 rows x 66 columns]

    - NDVI:

In [12]:
# Load the data of vegetation indicator released by wfp.
NDVI = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/Yemen/wfp_NDVI-day.csv", header = [0, 1], index_col = 0)
NDVI.index.name = "Datetime"
NDVI.index = pd.to_datetime(NDVI.index)
freq = "D"
NDVI.index.freq = freq

In [13]:
NDVI

AdminStrata     Abyan                   Aden               Al Bayda  \
Indicator        NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2018-02-09   0.106562    97.271102  0.076120    98.147311  0.128275
2018-02-10   0.106182    97.116030  0.075915    97.981448  0.127975
...               ...          ...       ...          ...       ...
2020-08-30   0.173996   146.302223  0.102630   123.447100  0.236033
2020-08-31   0.174583   146.421379  0.102505   123.299641  0.237405

AdminStrata              Al Dhale'e              Al Hudaydah               \
Indicator   NDVI Anomaly       NDVI NDVI Anomaly        NDVI NDVI Anomaly
Datetime
2018-02-09    103.837474   0.161169   100.759965    0.154365    97.854770
2018-02-10    103.767471   0.160212   100.506660    0.153120    97.445284
...                  ...        ...          ...         ...          ...
2020-08-30    152.682249   0.331837   141.706083    0.186693   129.071527
2020-08-31    152.683571   0.333072   141.278013    0.187582   129.247226

AdminStrata  ...    Sa'ada                 Sana'a                Shabwah  \
Indicator    ...      NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime     ...
2018-02-09   ...  0.137738   103.574802  0.140466   100.885050  0.113210
2018-02-10   ...  0.137600   103.580339  0.140046   100.806506  0.112952
...          ...       ...          ...       ...          ...       ...
2020-08-30   ...  0.181762   124.642479  0.265957   143.437325  0.128649
2020-08-31   ...  0.182683   124.840300  0.267383   143.335324  0.128835

AdminStrata                Socotra                  Taizz
Indicator   NDVI Anomaly      NDVI NDVI Anomaly      NDVI NDVI Anomaly
Datetime
2018-02-09    101.775819  0.247997    96.104089  0.170952   100.577071
2018-02-10    101.654881  0.246459    95.899377  0.170129   100.439196
...                  ...       ...          ...       ...          ...
2020-08-30    114.752786  0.204415   115.282521  0.257476   126.648190
2020-08-31    114.786778  0.204121   115.252822  0.258080   126.515196

[935 rows x 44 columns]

    - Conflict:

In [14]:
# Load the data of conflicts indicator released by ACLED.
conflict = pd.read_csv(PATH_TO_DATA_FOLDER + "Conflicts/output_timeseries/Yemen/wfp_conflicts_sum_event_SvyWindow.csv", header = [0, 1], index_col = 0)
conflict.index.name = "Datetime"
conflict.index = pd.to_datetime(conflict.index)
freq = "D"
conflict.index.freq = freq

In [15]:
conflict

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,...,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-31,0.0,47.0,401.0,19.0,210.0,348.0,1.0,10.0,2.0,19.0,...,110.0,1.0,88.0,102.0,1.0,307.0,152.0,29.0,0.0,539.0
2018-02-01,0.0,47.0,387.0,19.0,184.0,347.0,3.0,10.0,2.0,9.0,...,100.0,1.0,81.0,102.0,1.0,289.0,156.0,29.0,0.0,535.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-04,39.0,9.0,279.0,166.0,290.0,260.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,608.0,0.0,82.0,43.0,8.0,1.0,33.0
2020-09-05,39.0,10.0,299.0,176.0,296.0,271.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,650.0,0.0,82.0,43.0,6.0,1.0,33.0

    - Market price:

In [16]:
# Load the data of market prices indicator released by wfp.
price = pd.read_csv(PATH_TO_DATA_FOLDER + "Market Prices/output_timeseries/Yemen/wfp_relevant_market_price-SvyWindow-day.csv", header = [0, 1], index_col = 0)
price.index.name = "Datetime"
price.index = pd.to_datetime(price.index)
freq = "D"
price.index.freq = freq

In [17]:
price

AdminStrata              Abyan                                              \
Food Group  Cereals and tubers Exchange rate      Fuel Meat, fish and eggs
Datetime
2018-03-02            0.100272      0.085570  0.166974            0.085772
2018-03-03            0.100822      0.087331  0.166390            0.086190
...                        ...           ...       ...                 ...
2020-08-30            0.509165      0.650351  0.267295            0.274307
2020-08-31            0.511603      0.651691  0.269662            0.276320

AdminStrata                                                  \
Food Group  Miscellaneous food Oil and fats Pulses and nuts
Datetime
2018-03-02            0.182506     0.170143        0.345192
2018-03-03            0.182931     0.169167        0.345192
...                        ...          ...             ...
2020-08-30            0.692674     0.739985        0.608377
2020-08-31            0.693735     0.739535        0.609743

AdminStrata                                               Aden  ...   Shabwah  \
Food Group  Vegetables and fruits      Wage Cereals and tubers  ...      Wage
Datetime                                                        ...
2018-03-02               0.142590  0.011050           0.074411  ...  0.110335
2018-03-03               0.142146  0.011050           0.075018  ...  0.110335
...                           ...       ...                ...  ...       ...
2020-08-30               0.567812  0.201706           0.509234  ...  0.203022
2020-08-31               0.571739  0.203022           0.510751  ...  0.203022

AdminStrata              Taizz                                              \
Food Group  Cereals and tubers Exchange rate      Fuel Meat, fish and eggs
Datetime
2018-03-02            0.192953      0.098083  0.292476            0.043654
2018-03-03            0.192948      0.099797  0.291940            0.043654
...                        ...           ...       ...                 ...
2020-08-30            0.474705      0.658922  0.270960            0.376404
2020-08-31            0.472969      0.660386  0.270877            0.377127

AdminStrata                                                  \
Food Group  Miscellaneous food Oil and fats Pulses and nuts
Datetime
2018-03-02            0.283101     0.226032        0.435310
2018-03-03            0.281191     0.226257        0.434939
...                        ...          ...             ...
2020-08-30            0.547526     0.921230        0.645959
2020-08-31            0.547526     0.918605        0.647783

AdminStrata
Food Group  Vegetables and fruits      Wage
Datetime
2018-03-02               0.182889  0.110335
2018-03-03               0.180856  0.110335
...                           ...       ...
2020-08-30               0.524310  0.203022
2020-08-31               0.526812  0.203022

[914 rows x 189 columns]

    - Population:

In [18]:
# Load the data of population released by wfp.
population = pd.read_csv(PATH_TO_DATA_FOLDER + "Population/output_timeseries/Yemen/wfp_population.csv", header = [0, 1], index_col = 0)
population.index.name = "Datetime"
population.index = pd.to_datetime(population.index)
freq = "D"
population.index.freq = freq

In [19]:
population

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,...,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
2018-01-02,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
2021-01-01,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034

    - Coordinates:

In [20]:
# Load the data of coordination.
coordinates = pd.read_csv(PATH_TO_DATA_FOLDER + "Coordinates/output_timeseries/Yemen/wfp_coordinates.csv", header = [0, 1], index_col = 0)
coordinates.index.name = "Datetime"
coordinates.index = pd.to_datetime(coordinates.index)
freq = "D"
coordinates.index.freq = freq

In [21]:
coordinates

AdminStrata      Abyan                  Aden             Al Bayda             \
Indicator          Lat        Lon        Lat       Lon        Lat        Lon
Datetime
2018-01-01   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
2018-01-02   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
...                ...        ...        ...       ...        ...        ...
2020-12-31   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
2021-01-01   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603

AdminStrata Al Dhale'e            Al Hudaydah             ...     Sa'ada  \
Indicator          Lat        Lon         Lat        Lon  ...        Lat
Datetime                                                  ...
2018-01-01   13.896385  44.760434    14.83052  43.167047  ...  17.089972
2018-01-02   13.896385  44.760434    14.83052  43.167047  ...  17.089972
...                ...        ...         ...        ...  ...        ...
2020-12-31   13.896385  44.760434    14.83052  43.167047  ...  17.089972
2021-01-01   13.896385  44.760434    14.83052  43.167047  ...  17.089972

AdminStrata                Sana'a               Shabwah               Socotra  \
Indicator          Lon        Lat        Lon        Lat        Lon        Lat
Datetime
2018-01-01   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
2018-01-02   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
...                ...        ...        ...        ...        ...        ...
2020-12-31   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
2021-01-01   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974

AdminStrata                 Taizz
Indicator          Lon        Lat        Lon
Datetime
2018-01-01   53.805239  13.416517  43.778161
2018-01-02   53.805239  13.416517  43.778161
...                ...        ...        ...
2020-12-31   53.805239  13.416517  43.778161
2021-01-01   53.805239  13.416517  43.778161

[1097 rows x 44 columns]

    - Ramadan:

In [22]:
# Load the data of ramadan.
ramadan = pd.read_csv(PATH_TO_DATA_FOLDER + "Ramadan/output_timeseries/Yemen/wfp_ramadan_SvyWindow.csv", header = [0, 1], index_col = 0)
ramadan.index.name = "Datetime"
ramadan.index = pd.to_datetime(ramadan.index)
freq = "D"
ramadan.index.freq = freq

In [23]:
ramadan

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,...,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    - Adminstrata Codes:

In [24]:
# Load the data of ramadan.
admin_code = pd.read_csv(PATH_TO_DATA_FOLDER + "Adminstrata Code/output_timeseries/Yemen/wfp_adminstrata_code.csv", header = [0, 1], index_col = 0)
admin_code.index.name = "Datetime"
admin_code.index = pd.to_datetime(admin_code.index)
freq = "D"
admin_code.index.freq = freq

In [25]:
admin_code

AdminStrata,Ibb,Abyan,Amanat Al Asimah,Al Bayda,Taizz,Al Jawf,Hajjah,Al Hudaydah,Hadramaut,Dhamar,...,Sana'a,Aden,Lahj,Marib,Al Mahwit,Al Maharah,Amran,Al Dhale'e,Raymah,Socotra
Indicator,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,...,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85
2018-01-02,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85
2021-01-01,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85

In [26]:
# Create the full dataset.
df = pd.concat([fcs, rcsi, rainfall, conflict, NDVI, price, population, coordinates, ramadan, admin_code], axis = 1, levels = 0).sort_index(axis = 1, level = [0, 1]).dropna()

In [27]:
PROVINCES = df.columns.get_level_values(0).unique()
PROVINCES

Index(['Abyan', 'Aden', 'Al Bayda', 'Al Dhale'e', 'Al Hudaydah', 'Al Jawf',
       'Al Maharah', 'Al Mahwit', 'Amanat Al Asimah', 'Amran', 'Dhamar',
       'Hadramaut', 'Hajjah', 'Ibb', 'Lahj', 'Marib', 'Raymah', 'Sa'ada',
       'Sana'a', 'Shabwah', 'Socotra', 'Taizz'],
      dtype='object', name='AdminStrata')

In [28]:
PREDICTORS = df.columns.get_level_values(1).unique()
PREDICTORS

Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')

In [29]:
for PROVINCE in PROVINCES:
    print(PROVINCE)
    print(df[PROVINCE].columns)

Abyan
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Aden
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Al Bayda
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Al Dhale'e
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Al Hudaydah
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Al Jawf
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Al Maharah
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Al Mahwit
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Amanat Al Asimah
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Amran
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Dhamar
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Hadramaut
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Hajjah
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Ibb
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Lahj
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Marib
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Raymah
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Sa'ada
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Sana'a
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Shabwah
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Socotra
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall', 'Code',
       'FCS', 'Fatality', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly', 'Population',
       'Rainfall (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Taizz
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Miscellaneous food',
       'NDVI', 'NDVI Anomaly', 'Oil and fats', 'Population', 'Pulses and nuts',
       'Rainfall (mm)', 'Ramadan', 'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')

In [30]:
# For now, we decide to delete the Socotra and Hadramaut provinces due to FCS and rCSI ambiguous behaviour.
df.drop(["Hadramaut", "Socotra"], axis = 1, level = 0, inplace = True)

In [31]:
TsIP(df).interactive_plot_df(title = "Time-series", matplotlib = False, style = "lines", comparison = False, first_last_valid_index_group = True)

interactive(children=(ToggleButtons(description='AdminStrata', options=('Abyan', 'Aden', 'Al Bayda', "Al Dhaleâ€¦

In [32]:
# Save the datasets.
df.to_csv(PATH_TO_SAVE + "Yemen-day.csv", index_label = False)