In [1]:
import dataframe_image as dfi
import pandas as pd
import numpy as np
import time

In [2]:
from LagsCreator import LagsCreator

In [3]:
data = np.array([[np.nan, np.nan, 3, np.nan, np.nan, np.nan, np.nan, 8, np.nan, np.nan, np.nan, np.nan, 14, np.nan, np.nan, np.nan, np.nan, 19, np.nan, np.nan, np.nan, np.nan, 24, np.nan, np.nan, np.nan, np.nan, 29], 
                 [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], 
                 [1, np.nan, np.nan, 4, np.nan, np.nan, 7, np.nan, np.nan, 11, np.nan, np.nan, 14, np.nan, np.nan, 17, np.nan, np.nan, 20, np.nan, np.nan, 23, np.nan, np.nan, 26, np.nan, np.nan, 29]])

In [4]:
#df = pd.DataFrame(np.transpose(data), index = pd.date_range("2018-08-22", periods = data.shape[1]), columns = pd.MultiIndex.from_product([["Group 1"], ["Exchange rate", "FCG <= 2", "Rainfalls (mm)"]]))
df = pd.DataFrame(np.transpose(data), index = pd.date_range("2018-08-22", periods = data.shape[1]), columns = pd.MultiIndex.from_product([["Group 1"], ["A", "B", "C"]]))
df.index.name = "Datetime"

In [5]:
df["Group 1"]

               A     B     C
Datetime
2018-08-22   NaN   1.0   1.0
2018-08-23   NaN   2.0   NaN
2018-08-24   3.0   3.0   NaN
2018-08-25   NaN   4.0   4.0
2018-08-26   NaN   5.0   NaN
2018-08-27   NaN   6.0   NaN
2018-08-28   NaN   7.0   7.0
2018-08-29   8.0   8.0   NaN
2018-08-30   NaN  10.0   NaN
2018-08-31   NaN  11.0  11.0
2018-09-01   NaN  12.0   NaN
2018-09-02   NaN  13.0   NaN
2018-09-03  14.0  14.0  14.0
2018-09-04   NaN  15.0   NaN
2018-09-05   NaN  16.0   NaN
2018-09-06   NaN  17.0  17.0
2018-09-07   NaN  18.0   NaN
2018-09-08  19.0  19.0   NaN
2018-09-09   NaN  20.0  20.0
2018-09-10   NaN  21.0   NaN
2018-09-11   NaN  22.0   NaN
2018-09-12   NaN  23.0  23.0
2018-09-13  24.0  24.0   NaN
2018-09-14   NaN  25.0   NaN
2018-09-15   NaN  26.0  26.0
2018-09-16   NaN  27.0   NaN
2018-09-17   NaN  28.0   NaN
2018-09-18  29.0  29.0  29.0

In [6]:
# Save dataframe as png.
group_style = df["Group 1"].round(4).astype(str)
group_style.index = list(map(lambda x: str(x.date()), group_style.index))
group_style.style.export_png("dataframe.png")

In [7]:
lags_dict = dict()
# Define lags for each indicator.
lags_dict["A"] = np.array([1, 3])
lags_dict["B"] = np.array([1, 2, 3, 4, 5])
lags_dict["C"] = np.array([1])

## Single step = False

In [8]:
t1=time.time()
creator = LagsCreator(df["Group 1"], lags_dict, "B", delay = False) 
t2=time.time()
print(t2-t1)

0.029719114303588867

In [9]:
t1=time.time()
X_train, y_train, X_test, columns_input = creator.to_supervised(h = 4, single_step = False, return_dataframe = True)
t2=time.time()
print(t2-t1)

0.00989675521850586

In [10]:
#train, test = creator.visualization(boundaries = False, gif = True)

In [11]:
X_train

Features      A           B                              C
Lags     x(t-2) x(t) x(t-4) x(t-3) x(t-2) x(t-1) x(t) x(t)
0             3   14     10     11     12     13   14   14
1             3   14     11     12     13     14   15   14
2             3   14     12     13     14     15   16   14
3             3   14     13     14     15     16   17   17
4             3   14     14     15     16     17   18   17
5             8   19     15     16     17     18   19   17
6             8   19     16     17     18     19   20   20
7             8   19     17     18     19     20   21   20
8             8   19     18     19     20     21   22   20
9             8   19     19     20     21     22   23   23
10           14   24     20     21     22     23   24   23
11           14   24     21     22     23     24   25   23

In [12]:
# Save dataframe as png.
#X_train_style = X_train.round(4).astype(str)
#X_train_style.style.export_png("X_train.png")

In [13]:
y_train

Target                  B
Prediction horizon x(t+1) x(t+2) x(t+3) x(t+4)
0                      15     16     17     18
1                      16     17     18     19
2                      17     18     19     20
3                      18     19     20     21
4                      19     20     21     22
5                      20     21     22     23
6                      21     22     23     24
7                      22     23     24     25
8                      23     24     25     26
9                      24     25     26     27
10                     25     26     27     28
11                     26     27     28     29

In [14]:
# Save dataframe as png.
#y_train_style = y_train.round(4).astype(str)
#y_train_style.style.export_png("y_train.png")

In [15]:
X_test

Features      A           B                              C
Lags     x(t-2) x(t) x(t-4) x(t-3) x(t-2) x(t-1) x(t) x(t)
0            19   29     25     26     27     28   29   29

In [16]:
# Save dataframe as png.
#test[0].export_png("test.png")

## Single step = True

In [17]:
t1=time.time()
creator = LagsCreator(df["Group 1"], lags_dict, "B", delay = False) 
t2=time.time()
print(t2-t1)

0.03168201446533203

In [18]:
t1=time.time()
X_train, y_train, X_test, columns_input = creator.to_supervised(h = 2, step = 1, single_step = True, return_dataframe = True,
                                                                feature_time = ["Day", "Month", "Year"])
t2=time.time()
print(t2-t1)

0.014591693878173828

In [19]:
train, test = creator.visualization(boundaries = False, gif = True)

In [20]:
X_train

Features      A           B                              C    Day  Month  \
Lags     x(t-2) x(t) x(t-4) x(t-3) x(t-2) x(t-1) x(t) x(t) x(t+2) x(t+2)
0             3   14     10     11     12     13   14   14      5      9
1             3   14     11     12     13     14   15   14      6      9
2             3   14     12     13     14     15   16   14      7      9
3             3   14     13     14     15     16   17   17      8      9
4             3   14     14     15     16     17   18   17      9      9
5             8   19     15     16     17     18   19   17     10      9
6             8   19     16     17     18     19   20   20     11      9
7             8   19     17     18     19     20   21   20     12      9
8             8   19     18     19     20     21   22   20     13      9
9             8   19     19     20     21     22   23   23     14      9
10           14   24     20     21     22     23   24   23     15      9
11           14   24     21     22     23     24   25   23     16      9
12           14   24     22     23     24     25   26   26     17      9
13           14   24     23     24     25     26   27   26     18      9

Features   Year
Lags     x(t+2)
0          2018
1          2018
2          2018
3          2018
4          2018
5          2018
6          2018
7          2018
8          2018
9          2018
10         2018
11         2018
12         2018
13         2018

In [21]:
# Save dataframe as png.
#X_train_style = X_train.round(4).astype(str)
#X_train_style.style.export_png("X_train2.png")

In [22]:
y_train

Target                  B
Prediction horizon x(t+2)
0                      16
1                      17
2                      18
3                      19
4                      20
5                      21
6                      22
7                      23
8                      24
9                      25
10                     26
11                     27
12                     28
13                     29

In [23]:
X_test

Features      A           B                              C    Day  Month  \
Lags     x(t-2) x(t) x(t-4) x(t-3) x(t-2) x(t-1) x(t) x(t) x(t+2) x(t+2)
0            19   29     25     26     27     28   29   29     20      9

Features   Year
Lags     x(t+2)
0          2018

In [24]:
X_train.shape

(14, 11)

In [25]:
train[0]

In [26]:
train[-1]

In [27]:
test[0]